<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>512x512bb.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.thomas-xu.LaunchBar.action.Shanbay</string>
	<key>CFBundleName</key>
	<string>Shanbay</string>
	<key>CFBundleVersion</key>
	<string>v1.0</string>
	<key>LBArgument</key>
	<string>english words</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>english words</string>
		<key>LBAuthor</key>
		<string>Thomas Xu</string>
		<key>LBEmail</key>
		<string>freebythomas@gmail.com</string>
		<key>LBRequirements</key>
		<string>python3, requests</string>
		<key>LBResult</key>
		<string>translation from Shanbay</string>
		<key>LBSummary</key>
		<string>Action for looking up words by the APIs of Shanbay.</string>
		<key>LBTwitter</key>
		<string>@freebythomas_xu</string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBRequirements</key>
	<string>python3, requests</string>
	<key>LBResult</key>
	<string>translation from Shanbay</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
